# .env.example
DB_USER=root
DB_PASSWORD=your_local_password_here
DB_NAME=microservices_capstone
DB_HOST=db
DB_PORT=3306
JWT_SECRET=insert-your-own-secret-key-here
DB_DSN=root:your_local_password_here@tcp(db:3306)/microservices_capstone?parseTime=true